server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false   # <<< IMPORTANT: disable auto routes
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**,/categories/**,/product-images/**

        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  jwt:
    # must be 32+ chars/bytes for HS256
    secret: ${JWT_SECRET:dev-jwt-secret-32-bytes-long-123456}

management:
  endpoints:
    web:
      exposure:
        include: health,info
